name: Build Observability App (BLDX-361)

on:
  push:
    branches: [BLDX-361]
    paths:
      - 'poc/otel-awss3-poc/observability-app/**'
      - '.github/workflows/build-observability-app.yaml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0

      - name: Get version from commit SHA
        run: echo "version=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
        id: get_version

  push-to-ghcr:
    runs-on: ubuntu-latest
    needs: prepare
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 0

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: $GITHUB_ACTOR
          password: ${{ secrets.ORG_PAT_GITHUB }}

      - name: Build and push docker image to GHCR
        uses: ./.github/actions/secure-build-push-apps
        with:
          branch: ${{ github.ref_name }}
          snyk-token: ${{ secrets.SNYK_TOKEN_BU_APPS }}
          snyk-ghcr-integration-id: ${{ secrets.SNYK_GHCR_INTEGRATION_ID }}
          snyk-docker-integration-id: ${{ secrets.SNYK_DOCKER_INTEGRATION_ID }}
          snyk-integration-id: ${{ secrets.SNYK_INTEGRATION_ID }}
          snyk-org-id: ${{ secrets.SNYK_ORG_ID }}
          context: poc/otel-awss3-poc/observability-app
          file: poc/otel-awss3-poc/observability-app/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/atlanhq/temp-workflow-logs-observability-app:latest
            ghcr.io/atlanhq/temp-workflow-logs-observability-app:${{ needs.prepare.outputs.version }}
          github-token: ${{ secrets.ORG_PAT_GITHUB }}
